In [43]:
import requests
import pandas as pd
from pandas.io.json import json_normalize

In [ ]:
# Just query with london.
url = 'https://www.numbeo.com/api/city_prices?api_key=b6vniprdzkppy7&query=London'
resp = requests.get(url)
print(resp.status_code)

In [3]:
json = resp.json()
json

{'name': 'London, United Kingdom',
 'currency': 'GBP',
 'monthLastUpdate': 3,
 'contributors': 728,
 'yearLastUpdate': 2019,
 'prices': [{'data_points': 98,
   'item_id': 1,
   'lowest_price': 10,
   'average_price': 15,
   'highest_price': 20,
   'item_name': 'Meal, Inexpensive Restaurant, Restaurants'},
  {'data_points': 90,
   'item_id': 2,
   'lowest_price': 40,
   'average_price': 50,
   'highest_price': 70,
   'item_name': 'Meal for 2 People, Mid-range Restaurant, Three-course, Restaurants'},
  {'data_points': 79,
   'item_id': 3,
   'lowest_price': 5,
   'average_price': 6,
   'highest_price': 7,
   'item_name': 'McMeal at McDonalds (or Equivalent Combo Meal), Restaurants'},
  {'data_points': 70,
   'item_id': 4,
   'lowest_price': 4,
   'average_price': 5,
   'highest_price': 5,
   'item_name': 'Domestic Beer (0.5 liter draught), Restaurants'},
  {'data_points': 65,
   'item_id': 5,
   'lowest_price': 4,
   'average_price': 4.5,
   'highest_price': 5,
   'item_name': 'Imported Beer (0.33 liter bottle), Restaurants'},
  {'data_points': 78,
   'item_id': 6,
   'lowest_price': 0.9,
   'average_price': 1.3138461538461543,
   'highest_price': 2,
   'item_name': 'Coke/Pepsi (0.33 liter bottle), Restaurants'},
  {'data_points': 84,
   'item_id': 7,
   'lowest_price': 0.6,
   'average_price': 1.0026190476190477,
   'highest_price': 1.5,
   'item_name': 'Water (0.33 liter bottle) , Restaurants'},
  {'data_points': 59,
   'item_id': 8,
   'lowest_price': 0.7,
   'average_price': 0.9394896261585877,
   'highest_price': 1.2,
   'item_name': 'Milk (regular), (1 liter), Markets'},
  {'data_points': 48,
   'item_id': 9,
   'lowest_price': 0.7,
   'average_price': 1.0873398189775918,
   'highest_price': 1.5,
   'item_name': 'Loaf of Fresh White Bread (500g), Markets'},
  {'data_points': 50,
   'item_id': 11,
   'lowest_price': 1.3,
   'average_price': 2.0446,
   'highest_price': 3.3,
   'item_name': 'Eggs (regular) (12), Markets'},
  {'data_points': 26,
   'item_id': 12,
   'lowest_price': 5,
   'average_price': 6.6097914680552305,
   'highest_price': 10,
   'item_name': 'Local Cheese (1kg), Markets'},
  {'data_points': 32,
   'item_id': 13,
   'lowest_price': 0.5,
   'average_price': 0.9249999999999999,
   'highest_price': 1.4,
   'item_name': 'Water (1.5 liter bottle), Markets'},
  {'data_points': 39,
   'item_id': 14,
   'lowest_price': 7,
   'average_price': 8,
   'highest_price': 10,
   'item_name': 'Bottle of Wine (Mid-Range), Markets'},
  {'data_points': 23,
   'item_id': 15,
   'lowest_price': 1,
   'average_price': 1.5522779280216352,
   'highest_price': 2,
   'item_name': 'Domestic Beer (0.5 liter bottle), Markets'},
  {'data_points': 21,
   'item_id': 16,
   'lowest_price': 1.2,
   'average_price': 2.0666666666666664,
   'highest_price': 3,
   'item_name': 'Imported Beer (0.33 liter bottle), Markets'},
  {'data_points': 32,
   'item_id': 17,
   'lowest_price': 10,
   'average_price': 11,
   'highest_price': 12.3,
   'item_name': 'Cigarettes 20 Pack (Marlboro), Markets'},
  {'data_points': 87,
   'item_id': 18,
   'lowest_price': 1.7,
   'average_price': 2.5,
   'highest_price': 3.3,
   'item_name': 'One-way Ticket (Local Transport), Transportation'},
  {'data_points': 36,
   'item_id': 19,
   'lowest_price': 5,
   'average_price': 6.29,
   'highest_price': 9,
   'item_name': 'Chicken Breasts (Boneless, Skinless), (1kg), Markets'},
  {'data_points': 85,
   'item_id': 20,
   'lowest_price': 130,
   'average_price': 150,
   'highest_price': 190,
   'item_name': 'Monthly Pass (Regular Price), Transportation'},
  {'data_points': 65,
   'item_id': 24,
   'lowest_price': 1.2,
   'average_price': 1.2967538461538444,
   'highest_price': 1.38,
   'item_name': 'Gasoline (1 liter), Transportation'},
  {'data_points': 21,
   'item_id': 25,
   'lowest_price': 16000,
   'average_price': 19000,
   'highest_price': 21000,
   'item_name': 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car), Transportation'},
  {'data_points': 93,
   'item_id': 26,
   'lowest_price': 1400,
   'average_price': 1742.741935483871,
   'highest_price': 2200,
   'item_name': 'Apartment (1 bedroom) in City Centre, Rent Per Month'},
  {'data_points': 86,
   'item_id': 27,
   'lowest_price': 1000,
   'average_price': 1233.7209302325582,
   'highest_price': 1500,
   'item_name': 'Apartment (1 bedroom) Outside of Centre, Rent Per Month'},
  {'data_points': 65,
   'item_id': 28,
   'lowest_price': 2500,
   'average_price': 3303.4615384615386,
   'highest_price': 5000,
   'item_name': 'Apartment (3 bedrooms) in City Centre, Rent Per Month'},
  {'data_points': 80,
   'item_id': 29,
   'lowest_price': 1600,
   'average_price': 1992.3625,
   'highest_price': 2500,
   'item_name': 'Apartment (3 bedrooms) Outside of Centre, Rent Per Month'},
  {'data_points': 80,
   'item_id': 30,
   'lowest_price': 90,
   'average_price': 158.29063637090115,
   'highest_price': 255,
   'item_name': 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment, Utilities (Monthly)'},
  {'data_points': 32,
   'item_id': 32,
   'lowest_price': 0.03,
   'average_price': 0.11718750000000003,
   'highest_price': 0.3,
   'item_name': '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans), Utilities (Monthly)'},
  {'data_points': 102,
   'item_id': 33,
   'lowest_price': 25,
   'average_price': 32.20558823529411,
   'highest_price': 45,
   'item_name': 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL), Utilities (Monthly)'},
  {'data_points': 87,
   'item_id': 40,
   'lowest_price': 25,
   'average_price': 45.68314724137931,
   'highest_price': 80,
   'item_name': 'Fitness Club, Monthly Fee for 1 Adult, Sports And Leisure'},
  {'data_points': 37,
   'item_id': 42,
   'lowest_price': 5,
   'average_price': 10.486486486486486,
   'highest_price': 15,
   'item_name': 'Tennis Court Rent (1 Hour on Weekend), Sports And Leisure'},
  {'data_points': 86,
   'item_id': 44,
   'lowest_price': 10,
   'average_price': 12.25,
   'highest_price': 15,
   'item_name': 'Cinema, International Release, 1 Seat, Sports And Leisure'},
  {'data_points': 80,
   'item_id': 60,
   'lowest_price': 40,
   'average_price': 65.024875,
   'highest_price': 80,
   'item_name': '1 Pair of Jeans (Levis 501 Or Similar), Clothing And Shoes'},
  {'data_points': 79,
   'item_id': 62,
   'lowest_price': 20,
   'average_price': 30.670759493670882,
   'highest_price': 45,
   'item_name': '1 Summer Dress in a Chain Store (Zara, H&M, ...), Clothing And Shoes'},
  {'data_points': 95,
   'item_id': 64,
   'lowest_price': 50,
   'average_price': 68.25263157894737,
   'highest_price': 90,
   'item_name': '1 Pair of Nike Running Shoes (Mid-Range), Clothing And Shoes'},
  {'data_points': 80,
   'item_id': 66,
   'lowest_price': 50,
   'average_price': 79,
   'highest_price': 120,
   'item_name': '1 Pair of Men Leather Business Shoes, Clothing And Shoes'},
  {'data_points': 24,
   'item_id': 206,
   'lowest_price': 17000,
   'average_price': 20794.75,
   'highest_price': 25000,
   'item_name': 'Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car), Transportation'},
  {'data_points': 34,
   'item_id': 224,
   'lowest_price': 800,
   'average_price': 1282.3352941176472,
   'highest_price': 1600,
   'item_name': 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child, Childcare'},
  {'data_points': 20,
   'item_id': 100,
   'lowest_price': 9200,
   'average_price': 13270.488802088716,
   'highest_price': 16246,
   'item_name': 'Price per Square Meter to Buy Apartment in City Centre, Buy Apartment Price'},
  {'data_points': 27,
   'item_id': 228,
   'lowest_price': 10000,
   'average_price': 16936.962962962964,
   'highest_price': 23000,
   'item_name': 'International Primary School, Yearly for 1 Child, Childcare'},
  {'data_points': 20,
   'item_id': 101,
   'lowest_price': 4305.564166683888,
   'average_price': 7332.75,
   'highest_price': 10000,
   'item_name': 'Price per Square Meter to Buy Apartment Outside of Centre, Buy Apartment Price'},
  {'data_points': 78,
   'item_id': 105,
   'lowest_price': 1274,
   'average_price': 1975.5031389444268,
   'highest_price': 3200,
   'item_name': 'Average Monthly Net Salary (After Tax), Salaries And Financing'},
  {'data_points': 44,
   'item_id': 106,
   'lowest_price': 2,
   'average_price': 3.151818181818182,
   'highest_price': 4.17,
   'item_name': 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate, Salaries And Financing'},
  {'data_points': 60,
   'item_id': 107,
   'lowest_price': 3,
   'average_price': 5,
   'highest_price': 5,
   'item_name': 'Taxi Start (Normal Tariff), Transportation'},
  {'data_points': 21,
   'item_id': 108,
   'lowest_price': 1.71,
   'average_price': 3,
   'highest_price': 4,
   'item_name': 'Taxi 1km (Normal Tariff), Transportation'},
  {'data_points': 23,
   'item_id': 109,
   'lowest_price': 28.57,
   'average_price': 40,
   'highest_price': 60,
   'item_name': 'Taxi 1hour Waiting (Normal Tariff), Transportation'},
  {'data_points': 24,
   'item_id': 110,
   'lowest_price': 1.3,
   'average_price': 2.1441666666666666,
   'highest_price': 3.6,
   'item_name': 'Apples (1kg), Markets'},
  {'data_points': 23,
   'item_id': 111,
   'lowest_price': 1.3,
   'average_price': 2.067391304347826,
   'highest_price': 3,
   'item_name': 'Oranges (1kg), Markets'},
  {'data_points': 27,
   'item_id': 112,
   'lowest_price': 0.8,
   'average_price': 1.1262962962962964,
   'highest_price': 2,
   'item_name': 'Potato (1kg), Markets'},
  {'data_points': 26,
   'item_id': 113,
   'lowest_price': 0.5,
   'average_price': 0.8142307692307693,
   'highest_price': 1,
   'item_name': 'Lettuce (1 head), Markets'},
  {'data_points': 92,
   'item_id': 114,
   'lowest_price': 2.4,
   'average_price': 2.742282608695653,
   'highest_price': 3.3,
   'item_name': 'Cappuccino (regular), Restaurants'},
  {'data_points': 33,
   'item_id': 115,
   'lowest_price': 1,
   'average_price': 1.4633333333333334,
   'highest_price': 2.99,
   'item_name': 'Rice (white), (1kg), Markets'},
  {'data_points': 20,
   'item_id': 116,
   'lowest_price': 1.6,
   'average_price': 2.2432542442016823,
   'highest_price': 4,
   'item_name': 'Tomato (1kg), Markets'},
  {'data_points': 23,
   'item_id': 118,
   'lowest_price': 0.75,
   'average_price': 1.1517391304347826,
   'highest_price': 2,
   'item_name': 'Banana (1kg), Markets'},
  {'data_points': 25,
   'item_id': 119,
   'lowest_price': 0.7,
   'average_price': 1.0588,
   'highest_price': 2,
   'item_name': 'Onion (1kg), Markets'},
  {'data_points': 21,
   'item_id': 121,
   'lowest_price': 5,
   'average_price': 8.94691365826693,
   'highest_price': 15,
   'item_name': 'Beef Round (1kg) (or Equivalent Back Leg Red Meat), Markets'}],
 'city_id': 6512}

In [42]:
df = json_normalize(json)
df.head()

,city_id,contributors,currency,monthLastUpdate,name,prices,yearLastUpdate
0,6512,728,GBP,3,"London, United Kingdom","[{'data_points': 98, 'item_id': 1, 'lowest_pri...",2019

In [5]:
prices_df = json_normalize(json['prices'])
prices_df.head()

,average_price,data_points,highest_price,item_id,item_name,lowest_price
0,15.0,98,20.0,1,"Meal, Inexpensive Restaurant, Restaurants",10.0
1,50.0,90,70.0,2,"Meal for 2 People, Mid-range Restaurant, Three...",40.0
2,6.0,79,7.0,3,McMeal at McDonalds (or Equivalent Combo Meal)...,5.0
3,5.0,70,5.0,4,"Domestic Beer (0.5 liter draught), Restaurants",4.0
4,4.5,65,5.0,5,"Imported Beer (0.33 liter bottle), Restaurants",4.0

In [34]:
new_df = prices_df
new_df['city_name'] = df['name'].values[0]
new_df['currency'] = df['currency'].values[0]
new_df['contributors'] = df['contributors'].values[0]
new_df['city_id'] = df['city_id'].values[0]
new_df['lastUpdated'] = str(df['monthLastUpdate'].values[0]) + '/' + str(df['yearLastUpdate'].values[0])

In [41]:
reorder_attrs = ['city_id','city_name', 'item_id', 'item_name', 
 'lowest_price', 'highest_price', 'average_price', 
 'currency', 'contributors','data_points']
new_df = new_df[reorder_attrs]

In [63]:
# Make a function out of this cleaning to apply per each city.
def jsonCityPricesToDF(json):
    df = json_normalize(json)
    prices_df = json_normalize(json['prices'])
    new_df = prices_df
    new_df['city_name'] = df['name'].values[0]
    new_df['currency'] = df['currency'].values[0]
    new_df['contributors'] = df['contributors'].values[0]
    new_df['city_id'] = df['city_id'].values[0]
    new_df['lastUpdated'] = str(df['monthLastUpdate'].values[0]) + '/' + str(df['yearLastUpdate'].values[0])
    reorder_attrs = ['city_id','city_name', 'item_id', 'item_name', 'lowest_price', 'highest_price', 'average_price', 'currency', 'contributors','data_points']
    return new_df[reorder_attrs]

def getPrices(city):
    url = 'https://www.numbeo.com/api/city_prices?api_key=b6vniprdzkppy7&query={}'.format(city)
    resp = requests.get(url)
    if resp.status_code != 200:
        raise Exception(resp.status_code)
    else:
        return resp.json()

In [154]:
# Load cities of interest
citiesOfInterest = pd.read_csv('DataVisual_Cities.csv', sep=';')
citiesOfInterest['to EUR'] = citiesOfInterest['to EUR'].str.replace(',','.')
citiesOfInterest.head()

,Cantidad,CITY_NAME,Unnamed: 2,GLOBAL,EUROPE,BUSINESS INSIDER,Currency,to EUR,Population
0,1,Zurich,Switzerland,1,1,2.0,CHF,0.88,402.762
1,2,Geneva,Switzerland,1,1,6.0,CHF,0.88,198.979
2,3,Basel,Switzerland,1,1,8.0,CHF,0.88,171.017
3,4,Bern,Switzerland,1,1,11.0,CHF,0.88,133.115
4,5,Amsterdam,Netherland,2,2,9.0,EUR,1,821.752

In [157]:
# Query price items for all cities of interest.
i = 0
df
for city in citiesOfInterest['CITY_NAME']:
    json = getPrices(city)
    cityPricesDF = jsonCityPricesToDF(json)
    cityPricesDF['toEur'] = citiesOfInterest['to EUR'].values[i]
    cityPricesDF.toEur.apply(lambda x: float(x))
    if i == 0:
        df = cityPricesDF
    else:
        df = pd.concat([df, cityPricesDF], sort=False)
    i+=1

In [185]:
df.city_name.value_counts()

Reykjavik, Iceland        55
Oslo, Norway              55
Copenhagen, Denmark       55
Zurich, Switzerland       55
Dublin, Ireland           55
Lisbon, Portugal          55
Prague, Czech Republic    55
Nuremberg, Germany        55
Brussels, Belgium         55
Helsinki, Finland         55
Ljubljana, Slovenia       55
Munich, Germany           55
Berlin, Germany           55
Bern, Switzerland         55
Basel, Switzerland        55
Luxembourg, Luxembourg    55
Stockholm, Sweden         55
Dusseldorf, Germany       55
Hamburg, Germany          55
London, United Kingdom    55
Brno, Czech Republic      55
Barcelona, Spain          55
Stuttgart, Germany        55
Rome, Italy               55
Milan, Italy              55
Paris, France             55
Frankfurt, Germany        55
Vienna, Austria           55
Lyon, France              55
Geneva, Switzerland       55
Amsterdam, Netherlands    55
Madrid, Spain             55
Tallinn, Estonia          55
Name: city_name, dtype: int64

In [186]:
df

,city_id,city_name,item_id,item_name,lowest_price,highest_price,average_price,currency,contributors,data_points,toEur
0,6379,"Zurich, Switzerland",1,"Meal, Inexpensive Restaurant, Restaurants",20.000000,30.000000,25.000000,CHF,321,37,0.88
1,6379,"Zurich, Switzerland",2,"Meal for 2 People, Mid-range Restaurant, Three...",70.000000,120.000000,100.000000,CHF,321,37,0.88
2,6379,"Zurich, Switzerland",3,McMeal at McDonalds (or Equivalent Combo Meal)...,12.000000,17.000000,14.000000,CHF,321,28,0.88
3,6379,"Zurich, Switzerland",4,"Domestic Beer (0.5 liter draught), Restaurants",5.000000,8.000000,7.000000,CHF,321,31,0.88
4,6379,"Zurich, Switzerland",5,"Imported Beer (0.33 liter bottle), Restaurants",5.000000,8.000000,6.000000,CHF,321,29,0.88
5,6379,"Zurich, Switzerland",6,"Coke/Pepsi (0.33 liter bottle), Restaurants",3.000000,5.000000,4.053571,CHF,321,28,0.88
6,6379,"Zurich, Switzerland",7,"Water (0.33 liter bottle) , Restaurants",2.500000,5.000000,3.634615,CHF,321,26,0.88
7,6379,"Zurich, Switzerland",8,"Milk (regular), (1 liter), Markets",1.500000,2.000000,1.742500,CHF,321,20,0.88
8,6379,"Zurich, Switzerland",9,"Loaf of Fresh White Bread (500g), Markets",2.000000,4.000000,2.704545,CHF,321,22,0.88
9,6379,"Zurich, Switzerland",11,"Eggs (regular) (12), Markets",4.000000,8.000000,5.336522,CHF,321,23,0.88
10,6379,"Zurich, Switzerland",12,"Local Cheese (1kg), Markets",16.000000,40.000000,25.165714,CHF,321,21,0.88
11,6379,"Zurich, Switzerland",13,"Water (1.5 liter bottle), Markets",0.900000,2.000000,1.241667,CHF,321,24,0.88
12,6379,"Zurich, Switzerland",14,"Bottle of Wine (Mid-Range), Markets",10.000000,18.000000,12.000000,CHF,321,20,0.88
13,6379,"Zurich, Switzerland",15,"Domestic Beer (0.5 liter bottle), Markets",1.500000,3.000000,1.963043,CHF,321,23,0.88
14,6379,"Zurich, Switzerland",16,"Imported Beer (0.33 liter bottle), Markets",1.890000,4.000000,2.651667,CHF,321,18,0.88
15,6379,"Zurich, Switzerland",17,"Cigarettes 20 Pack (Marlboro), Markets",8.000000,8.800000,8.000000,CHF,321,23,0.88
16,6379,"Zurich, Switzerland",18,"One-way Ticket (Local Transport), Transportation",3.000000,4.400000,4.000000,CHF,321,59,0.88
17,6379,"Zurich, Switzerland",19,"Chicken Breasts (Boneless, Skinless), (1kg), M...",16.000000,34.000000,25.850000,CHF,321,20,0.88
18,6379,"Zurich, Switzerland",20,"Monthly Pass (Regular Price), Transportation",65.166667,95.000000,85.000000,CHF,321,56,0.88
19,6379,"Zurich, Switzerland",24,"Gasoline (1 liter), Transportation",1.520000,1.800000,1.661282,CHF,321,39,0.88
20,6379,"Zurich, Switzerland",25,Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...,20000.000000,26000.000000,22650.000000,CHF,321,14,0.88
21,6379,"Zurich, Switzerland",26,"Apartment (1 bedroom) in City Centre, Rent Per...",1200.000000,2400.000000,1749.062500,CHF,321,48,0.88
22,6379,"Zurich, Switzerland",27,"Apartment (1 bedroom) Outside of Centre, Rent ...",1000.000000,1800.000000,1340.285714,CHF,321,42,0.88
23,6379,"Zurich, Switzerland",28,"Apartment (3 bedrooms) in City Centre, Rent Pe...",2400.000000,4500.000000,3184.883721,CHF,321,43,0.88
24,6379,"Zurich, Switzerland",29,"Apartment (3 bedrooms) Outside of Centre, Rent...",1800.000000,3500.000000,2433.333333,CHF,321,45,0.88
25,6379,"Zurich, Switzerland",30,"Basic (Electricity, Heating, Cooling, Water, G...",85.000000,300.000000,174.269965,CHF,321,24,0.88
26,6379,"Zurich, Switzerland",32,1 min. of Prepaid Mobile Tariff Local (No Disc...,0.130000,0.500000,0.260000,CHF,321,22,0.88
27,6379,"Zurich, Switzerland",33,"Internet (60 Mbps or More, Unlimited Data, Cab...",40.000000,80.000000,58.523684,CHF,321,38,0.88
28,6379,"Zurich, Switzerland",40,"Fitness Club, Monthly Fee for 1 Adult, Sports ...",58.333333,116.666667,80.886525,CHF,321,47,0.88
29,6379,"Zurich, Switzerland",42,"Tennis Court Rent (1 Hour on Weekend), Sports ...",28.000000,55.000000,37.500000,CHF,321,20,0.88
...,...,...,...,...,...,...,...,...,...,...,...
25,6029,"Lisbon, Portugal",30,"Basic (Electricity, Heating, Cooling, Water, G...",60.000000,145.714286,94.464399,EUR,494,57,1
26,6029,"Lisbon, Portugal",32,1 min. of Prepaid Mobile Tariff Local (No Disc...,0.080000,0.300000,0.192800,EUR,494,25,1
27,6029,"Lisbon, Portugal",33,"Internet (60 Mbps or More, Unlimited Data, Cab...",25.000000,40.000000,31.716508,EUR,494,63,1
28,6029,"Lisbon, Portugal",40,"Fitness Club, Monthly Fee for 1 Adult, Sports ...",29.000000,50.000000,35.274359,EUR,494,78,1
29,6029,"Lisbon, Portugal",42,"Tennis Court Rent (1 Hour on Weekend), Sports ...",8.000000,20.000000,11.500000,EUR,494,20,1
30,6029,"Lisbon, Portugal",44,"Cinema, International Release, 1 Seat, Sports ...",6.000000,7.500000,7.000000,EUR,494,81,1
31,6029,"Lisbon, Portugal",60,"1 Pair of Jeans (Levis 501 Or Similar), Clothi...",50.000000,100.000000,81.417910,EUR,494,67,1
32,6029,"Lisbon, Portugal",62,"1 Summer Dress in a Chain Store (Zara, H&M, .....",20.000000,40.000000,28.134394,EUR,494,66,1
33,6029,"Lisbon, Portugal",64,"1 Pair of Nike Running Shoes (Mid-Range), Clot...",60.000000,100.000000,72.852941,EUR,494,68,1
34,6029,"Lisbon, Portugal",66,"1 Pair of Men Leather Business Shoes, Clothing...",57.000000,120.000000,81.767857,EUR,494,56,1
35,6029,"Lisbon, Portugal",206,Toyota Corolla 1.6l 97kW Comfort (Or Equivalen...,20000.000000,27000.000000,23252.200000,EUR,494,20,1
36,6029,"Lisbon, Portugal",224,"Preschool (or Kindergarten), Full Day, Private...",300.000000,500.000000,413.714286,EUR,494,35,1
37,6029,"Lisbon, Portugal",100,Price per Square Meter to Buy Apartment in Cit...,3000.000000,6000.000000,4053.258065,EUR,494,31,1
38,6029,"Lisbon, Portugal",228,"International Primary School, Yearly for 1 Chi...",5400.000000,14400.000001,7852.173913,EUR,494,23,1
39,6029,"Lisbon, Portugal",101,Price per Square Meter to Buy Apartment Outsid...,1500.000000,2888.000000,2051.221046,EUR,494,28,1
40,6029,"Lisbon, Portugal",105,"Average Monthly Net Salary (After Tax), Salari...",700.000000,1200.000000,871.842188,EUR,494,64,1
41,6029,"Lisbon, Portugal",106,"Mortgage Interest Rate in Percentages (%), Yea...",2.000000,3.250000,2.472609,EUR,494,23,1
42,6029,"Lisbon, Portugal",107,"Taxi Start (Normal Tariff), Transportation",3.000000,3.900000,3.250000,EUR,494,68,1
43,6029,"Lisbon, Portugal",108,"Taxi 1km (Normal Tariff), Transportation",0.470000,0.800000,0.470000,EUR,494,21,1
44,6029,"Lisbon, Portugal",109,"Taxi 1hour Waiting (Normal Tariff), Transporta...",14.800000,15.000000,14.800000,EUR,494,18,1
45,6029,"Lisbon, Portugal",110,"Apples (1kg), Markets",1.200000,2.300000,1.646087,EUR,494,23,1
46,6029,"Lisbon, Portugal",111,"Oranges (1kg), Markets",0.900000,2.000000,1.266087,EUR,494,23,1
47,6029,"Lisbon, Portugal",112,"Potato (1kg), Markets",0.650000,2.000000,1.000833,EUR,494,24,1
48,6029,"Lisbon, Portugal",113,"Lettuce (1 head), Markets",0.500000,1.500000,0.942083,EUR,494,24,1
49,6029,"Lisbon, Portugal",114,"Cappuccino (regular), Restaurants",0.800000,2.500000,1.496441,EUR,494,59,1
50,6029,"Lisbon, Portugal",115,"Rice (white), (1kg), Markets",0.750000,1.500000,0.968519,EUR,494,27,1
51,6029,"Lisbon, Portugal",116,"Tomato (1kg), Markets",1.000000,2.000000,1.554000,EUR,494,25,1
52,6029,"Lisbon, Portugal",118,"Banana (1kg), Markets",1.000000,2.000000,1.224167,EUR,494,24,1
53,6029,"Lisbon, Portugal",119,"Onion (1kg), Markets",0.700000,2.000000,0.993000,EUR,494,20,1
54,6029,"Lisbon, Portugal",121,Beef Round (1kg) (or Equivalent Back Leg Red M...,8.000000,12.000000,9.285238,EUR,494,21,1